* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    /* background-color: #EDF2F9; */
    background: url('./images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: cover;
    background-attachment: fixed;
}

.my-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.my-input {
    border: none !important;
    box-shadow: none !important;
}

.my-input::placeholder{
    color: #A5A7AD !important;
}

.my-input-icon {
    background-color: white !important;
    border: none !important;
}

.my-icon {
    color: #A5A7AD;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 34em;
    height: 3.8em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
    padding: 0px !important;
}

.search-input-container {
    display: flex;
    width: 100%;
    min-height: 4em;
    align-items: center;
    position: relative;
    padding: 0px 15px;
}

.search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 21px;
    color: #12112e;
    border-radius: 5px;
    font-weight: 500;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.search-input:focus::placeholder {
    opacity: 0;
}

.search-input::placeholder {
    color: #bebebe;
    transition: all 250ms ease-in-out;
}

.search-icon {
    color: #bebebe;
    font-size: 27px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.search-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: auto;
}

.line-seperator {
    display: flex;
    min-width: 100%;
    min-height: 2px;
    background-color: #dfdfdf;

}

.loading-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon {
    color: #bebebe;
    font-size: 27px;
    transition: all 2ms ease-in-out;
    cursor: pointer;
    margin-bottom: 5px;
}

.close-icon:hover {
  color: #dfdfdf;
}

.artist-search-container {
    width: 100%;
    height: 5em;
    display: flex;
    border-bottom: 1px solid #bebebe;
    padding: 6px 8px;
}

.artist-search-container:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.artist-thumbnail {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.artist-thumbnail img {
    width: auto;
    height: 100%;
    border-radius: 50%;
}

.artist-name {
    color: black;
    margin-left: 10px;
    display: flex;
    flex: 2;
}

.search-warning {
    color: #bebebe;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-link {
    text-decoration: none !important;
}

.back-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.back-icon:hover {
    margin-right: 10px;
}


.back-text {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.back-text:hover {
    padding-left: 10px;
}

.artist-image {
    height: 8em;
    border-radius: 50%;
    border: solid 2px black;
}

.facebook-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.my-col {
    display: flex;
    justify-content: center;
}

.my-card{
    color: white !important;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)) !important;
    border: 1px solid transparent !important;
    
    backdrop-filter: blur(5px) !important;

    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3) !important;

    border-top-color: rgba(255, 255, 255, 0.5) !important;
    border-left-color: rgba(255, 255, 255, 0.5) !important;
    border-right-color: rgba(255, 255, 255, 0.1) !important;
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
    transition: all 300ms;

}

.my-card-anim:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
}