* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

main {
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.my-input {
    border: none !important;
    box-shadow: none !important;
}

.my-input::placeholder{
    color: #A5A7AD !important;
}

.my-input-icon {
    background-color: white !important;
    border: none !important;
}

.my-icon {
    color: #A5A7AD;
}